<div class="container dashboard">
  <div class="sixteen columns">
    <div class="row">

    <div class="four columns alpha">
      <h3>{{user.first}} {{user.last}}</h3>
      <img src="{{user.image}}" alt="{{user.username}}" title="{{user.username}}">
      <p><small>Change your profile image at <a href="http://gravatar.com">gravatar.com</a>.</small></p>
    </div>

    </div>
  </div>
</div>
