<div class="container dashboard">
  <div class="sixteen columns">
    <h3>{{profile.first}} {{profile.last}}</h3>
  </div>
  <div class="one-third column">
    <img src="{{profile.image}}" alt="{{profile.username}}" title="{{profile.username}}">
  </div>
</div>
