<div class="container dashboard">
  <div class="sixteen columns">
    <div class="row">

    <div class="four columns alpha">
      <h3>{{profile.first}} {{profile.last}}</h3>
      <img src="{{profile.image}}" alt="{{profile.username}}" title="{{profile.username}}">
    </div>

    </div>
  </div>
</div>
